body {
  background: linear-gradient(145deg, #2C0735, #0A0434);
  color: #FFFFFF;
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  text-align: center;
  background: #1A1332;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  width: 320px;
  height: auto;
}

.logo {
  font-size: 3.5rem;
  color: #FAD02E;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
  color: #FFFFFF;
  margin-bottom: 2rem;
}

.input-field {
  width: 95%;
  padding: 0.8rem;
  margin: 0.8rem 0;
  border-radius: 4px;
  border: 1px solid #443E5E;
  background: #2A2142;
  color: #FFFFFF;
  font-size: 1rem;
}

.input-field::placeholder {
  color: #A9A9A9;
}

.login-button {
  width: 70%;
  padding: 0.8rem;
  background-color: #FAD02E;
  color: #1A1332;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #FFD750;
}

.google-button {
  padding: 0.8rem;
  background-color: #4285F4;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

.google-button:hover {
  background-color: #357AE8;
}

.forgot-password {
  display: block;
  margin-top: 1.5rem;
  color: #D3D3D3;
  font-size: 0.9rem;
  text-decoration: none;
}
/* Fuentes*/

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.navShopping{
  display: none !important;
}